.container-login{
    width: 95%;
    right: 80%;
    box-sizing: border-box;
    height: 50%;
    margin: 10px;
    padding: 39px;
    background-color:  rgba(255, 252, 252, 0.106);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-style: groove;
    border-color: red;
    line-height: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.opcion1{
    width: 20%;
    right: 90%;
    box-sizing: border-box;
    border-style: ridge;
    border-color: orange;
    height: 55%;
    margin: 0px;
    padding: 5px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: #1463c4;
    font-size: 24px;
    line-height: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: green; 
}
.opcion2{
    width: 25%;
    right: 100%;
    box-sizing: border-box;
    border-style: ridge;
    border-color: orange;
    height: 55%;
    margin: 0px;
    padding: 5%;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: #1463c4;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: green; 
}
.opcion3{
    width: 20%;
    right: 90%;
    box-sizing: border-box;
    border-style: ridge;
    border-color: orange;
    height: 55%;
    margin: 0px;
    padding: 15px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: #1463c4;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: green; 
}
.ajo{
    border-radius: 5px;
    background-color: rgba(255, 252, 252, 0.106);
    width: 880px;
    height: 160px;
    top: 0%;
    left: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: groove;
    border-color: red;
}    

.menu{
    width: 15%;
    right: 60%;
    box-sizing: border-box;
    height: 12%;
    margin: 10px;   
    padding: 19px;
    background-color:  rgba(255, 252, 252, 0.073);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-style: ridge;
    border-color: #1463c4;
    color: red;
    font-size:  34px;
    line-height: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   
.tittles {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   

h1{
    font-size: 64px;
    text-decoration: overline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-size: 40px;
    line-height: 10px;
    font-family: "Arial";
    text-decoration-line: underline;
  text-decoration-color: green; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1,h2 {
    margin: 24px 5px;
}
h1, h2, h3{
    padding: 0;
}

body{
background-color: rgba(254, 220, 28, 0.909);

}
img{
    width: 120px;
    right: 130px;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 17px;
    position: absolute;
    top: 5%;
    left: 65%;
    }
